.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
melpa
archive-contents
elpa
*.dat
eshell/
.cask/
*.sqlite
.persistent-scratch
transient
*~
